
* {margin: 0;}
body {height: 100%;font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; text-align:center; height:100%; font-size: 62.5%;}
#container{width: 60em; max-width: 100%; /*border: 1px solid black;*/ margin: 0 auto; text-align:left; font-size: 1.4em;}

#header{width: 60em; max-width: 100%; /*border: 1px solid blue;*/ padding: 2em 0em 1em 0em; margin: 0em;}
#logo{margin:0px; padding:0px;}
#title{color: #FF7600; font-family: sans-serif;}
#title a {margin: 0em; padding: 0em;}
#header a{margin: 0em; padding: 0em; /*border: 1px solid black;*/}

/*

outras cores: 
verde: 00C90D
cinzento muito claro: DFE0E4

*/

h1 {font-size: 4.8em;}
h2 {font-size: 3.6em;}
h3 {}
h4 {font-size: 2.1em; color: #00C90D; }
h5 {font-size: 1.8em; color: #00C90D; }
h6 {font-size: 1.6em; color: #00C90D; }
h6.nav_first {font-size: 1.6em; color: #00C90D; padding-bottom: .2em; border-bottom: 1px solid #DFE0E4; width: 8em; margin-bottom: 1em;} 
h6.nav_all {font-size: 1.6em; color: #00C90D; padding-bottom: .2em; border-bottom: 1px solid #DFE0E4; width: 8em; margin-bottom: 1em; margin-top: 1em;}

/* nav.html */
#loader_img{display: block;}
#categories {list-style-type:square; color: #DFE0E4;}
#nav_links {list-style-type:square; color: #DFE0E4;}
.li_text_color {color: black;}

.index ul{list-style-type:square; color: #DFE0E4;}

/* content */
.date {font-size: .8em; color: #808080;}
.infop {text-indent: 20px; line-height: 1.48em; /*text-align: justify;*/}
.infop a {padding: 0em; margin: 0em;}
.entry_content{padding-bottom: 1em;}

blockquote {padding: 1em 0em 1em 4em; text-indent: -0.8em; line-height: 1.48em}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" ""; font-family: Arial, sans-serif; }
.quoteAuthor {font-size: .8em;}

/* about.html */
.abouttext {font-size: 4.8em !important; font-family: Verdana, sans-serif !important; line-height: 1em; letter-spacing: -3px; font-weight: bold; }
.about_nav {text-align:right; padding: .5em 0em 10em 0em; font-size: 0.5em;}
.about_nav_last {text-align:right; padding: .5em 0em 2em 0em; font-size: 0.5em;}

#content{width: 37.5em; float: left; display: inline; max-width: 62.5%; padding-bottom: 1em; /*border: 1px solid green;*/}
#content_bottom{width: 37.5em; float: left; display: inline; max-width: 62.5%; /*border: 1px solid green;*/}
#sidebar{width: 20em; float: right; max-width: 37.5%; padding-left: 2.5em; padding-bottom: 1em;/*border: 1px solid orange;*/}

#content_bottom{padding: 1em 1em 0em 0em;}
#footer{width: 52.8em; /*60em*/ max-width: 100%; clear: both; padding: .5em 0em 1em 0em; border-top: 1px solid #DFE0E4; margin-top: 1em; /*border: 1px solid yellow;*/}

div#content a:link {color: #A64D00; text-decoration: none;}
div#content a:visited {color: #A64D00; text-decoration: none;}
div#content a:hover {color: #FF9840;}
div#content a:active {}

div#header a:link {color: #FF7600; text-decoration: none;}
div#header a:visited {color: #FF7600; text-decoration: none;}
div#header a:hover {color: #FF7600;}
div#header a:active {color: #FF7600;}

div#sidebar a:link {color: #A64D00; text-decoration: none;}
div#sidebar a:visited {color: #A64D00; text-decoration: none;}
div#sidebar a:hover {color: #FF9840;}
div#sidebar a:active {}

div#content_bottom a:link {color: #A64D00; text-decoration: none;}
div#content_bottom a:visited {color: #A64D00; text-decoration: none;}
div#content_bottom a:hover {color: #FF9840;}
div#content_bottom a:active {}

div#footer a:link {color: #A64D00; text-decoration: none;}
div#footer a:visited {color: #A64D00; text-decoration: none;}
div#footer a:hover {color: #FF9840;}
div#footer a:active {}

/* 404 page */
#container_error_page {min-height: 100%;height: auto !important;height: 100%; margin: 0 auto -4em; width: 55em; max-width: 100%; min-width: 500px; text-align:left;}
#title_error_page {color: #FF7600; font-family: "bello-pro-1","bello-pro-2",sans-serif; margin: 0 auto; padding: 1em 0em .5em 0em; border: 0em; }
#p_error_page {padding-left: 4px; font-size: 1.5em;}


