---
layout: base
title: Orange Tea Monkey
---
    {% include header.html %}

    <div id="content">
     
    {% for post in site.posts limit:3 %}
        <div class="entry_content">
          <h5>
            <a href="{{ post.url }}" title="{{ post.title }}"> 
              {{ post.title }}
            </a>
          </h5>
         {% include dateIndex.html %} 
	 <br />
          {{ post.description }}
	  <br />

	<a href="{{ post.url }}#disqus_thread">Comments</a>
        </div> <!-- entry_content -->
	
    {% endfor %}

    <div id="content_bottom">
	<a href="archive.html" title="archives">View archives</a>
    </div>

    </div> <!-- /#content -->
    {% include nav.html %}
    {% include footer.html %}
