---
layout: base
title: Orange Tea Blog
---
    {% include header.html %}

    <div id="content">
     
    {% for post in site.posts limit:3 %}
        <div class="entry-content">
          <h5 class="clear">
            <a href="{{ post.url }}/" title="{{ post.title }}"> 
              {{ post.title }}
            </a>
          </h5>
         {% include dateIndex.html %} 
	 <br />
          {{ post.description }}
	  <br />
        </div> <!-- /.entry-content -->
	
    {% endfor %}

    <div id="contentBottom">
	<a href="archive.html" title="archives">View archives</a>
    </div>

    </div> <!-- /#content -->
    {% include nav.html %}
    {% include footer.html %}
