<div id="sidebar">

<h6 class="nav_first">Categories</h6>
<div id="loader_img">
	<!--img src="/images/loader.gif" alt="Loading Categories" /-->
</div>
<div id="div_categories">
<ul id="categories">

</ul>

{% for category in site.iterable.categories %}
         h1. {{ category.name }}
         <ul>
           {% for post in category.posts %}
             <li>{{ post.title }}</li>
           {% endfor %}
           </ul>
       {% endfor %}

</div>

<h6 class="nav_all">See also</h6>

<div id="div_nav_links">
<ul id="nav_links">
  <li>
        <a href="/archive.html" title="Archives">Archives</a>
  </li>
  <li>
        <a href="/about.html" title="About">About</a>
  </li>
  <li>
	<a href="http://orangeteacup.me" title="Orange Tea Cup" target="_blank">Orange Tea Cup</a>
  </li>
  <li>
        <a href="http://orangeteacup.tumblr.com" title="Organic Orange Tea" target="_blank">Organic Orange Tea</a>
  </li>
</ul>
</div>

</div>
