<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" ></meta>
    <meta http-equiv="content-language" content="en" ></meta>
    <meta name="application-name" content="Orange Tea Monkey" ></meta>
    <meta name="description" content="Orange Tea Monkey, a blog that has nothing to do with monkeys. Possibly only tech stuff."></meta>
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" ></link>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/email.js"></script>
    <script type="text/javascript" src="/js/categoriesLoad.js"></script>
    <script type="text/javascript" src="/js/setUserCommentNameColor.js"></script>
	
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2248079-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>
  <body>
    <div id="container">
      {{ content }}
    </div>
 <script type="text/javascript">
var disqus_shortname = 'orangeteamonkeyblog';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/orangeteamonkeyblog/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
  </body>
</html>

