---
layout: base
---
    {% include header.html %}

    <div id="content">
      <div class="entry_content">
        <h4>{{ page.title }}</h4>
        {% include datePost.html %}
	{{ content }}
      </div><!-- entry_content -->
    <div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://orangeteamonkeyblog.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=orangeteamonkeyblog">comments powered by Disqus.</a></noscript>
<!--a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a-->

    </div><!-- content -->
    {% include nav.html %}
    {% include footer.html %}
